{% extends 'app.twig' %}
      {% block content %}
<div id="content" class="pangloss">
<div class="card">
<div>
<div class="row tightrow" id='cardnav'>
<div class="col-sm-6 blanc">
 LANDING
</div>
<div class="col-sm-6" style='text-align: right'>
</div>
</div>
</div>
<div class="card-body" id='listed'>
{{list}}
</div>
{% endblock %}

